<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
      <DirectoryRef Id="dir_Assemblies_v4.1">
        <Component Id="cmp_Assemblies_V41_RegisterAssembliesWithVisualStudio" Guid="5B2EF855-F493-4F4A-A308-24996036F4D3">
          <RegistryValue Id="reg_Assemblies_V41_RegisterAssembliesWithVisualStudio" KeyPath="yes" Action="write" Root="HKLM" Key="SOFTWARE\Microsoft\.NETMicroFramework\v4.1\AssemblyFoldersEx\SecretLabs" Value="[dir_Assemblies_v4.1]" Type="string" />
        </Component>
        <Component Id="cmp9681CCA0536DDC2DEC257B8E934BEF30" Guid="5CA10FAA-3A87-43D1-9113-B1BD1CAC8351">
          <File Id="filADBEA1AC7FC537423F93CD299A06CBB1" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\SecretLabs.NETMF.Hardware.dll" />
        </Component>
        <Component Id="cmpCCCD6CEC04848BAD9508C1D8445C55B5" Guid="36EB6A93-60A0-4DBF-9F3E-8778511E884C">
          <File Id="fil801FED869D36E0B6684A512C132EC580" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\SecretLabs.NETMF.Hardware.Netduino.dll" />
        </Component>
        <Component Id="cmp24DADDDB9CA8B1EADF48AA9551C971B1" Guid="F85DFBC9-58C4-4D22-BCC9-D9E4B5F1FE3B">
          <File Id="fil015841475B5E3295593114920D8F7012" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\SecretLabs.NETMF.Hardware.Netduino.pdb" />
        </Component>
        <Component Id="cmp795995E9D2B3F71ADCE20B87A8083C0F" Guid="4B90C3C6-2F8C-4FD9-9911-6FAEE1EBA7C2">
          <File Id="fil16A2BF03781AB677BB24401F4BF1F9B4" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\SecretLabs.NETMF.Hardware.NetduinoMini.dll" />
        </Component>
        <Component Id="cmpF0C32353D95B0074F48458F6C02DF789" Guid="1A53D6B8-E470-4B6B-843C-05C9C66AAC93">
          <File Id="fil5C62023366B6ECD99FAEB2D00AD77F43" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\SecretLabs.NETMF.Hardware.NetduinoMini.pdb" />
        </Component>
        <Component Id="cmpDE02A4591EE36F89FD206965302215FC" Guid="62C5B3D5-75AE-425C-8AEB-5C5ADF0F4440">
          <File Id="fil0BC780E9E7B4F2EAF4F1D3526A378071" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\SecretLabs.NETMF.Hardware.NetduinoPlus.dll" />
        </Component>
        <Component Id="cmp4252EA1A35B63758C94F4C3875738192" Guid="49B996A7-529D-4DE6-A3B3-AEDE82779B56">
          <File Id="filA6FCCA4902BBCA4C4EA2CFFDE1CAC856" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\SecretLabs.NETMF.Hardware.NetduinoPlus.pdb" />
        </Component>
        <Component Id="cmpCB484CC4C2B95B6E0C04AB1FADC86949" Guid="19FA13B1-DEDC-498F-8B65-D5CB3BC627C2">
          <File Id="filD968640126C337016703F0FEC349DE40" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\SecretLabs.NETMF.Hardware.pdb" />
        </Component>
      </DirectoryRef>
      <DirectoryRef Id="dir_Assemblies_v4.1_be">
        <Component Id="cmp676C815EC6B8AA53049EE9C7870A932F" Guid="35BD470A-0A8D-48C2-B920-5B5FA7D82E69">
          <File Id="filC02679DB5FFC807B864EDCAB13216804" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.dll" />
        </Component>
        <Component Id="cmp5B57334BD3279AF6B3D86EB39DD59731" Guid="19AFA7D5-5462-4993-A1E3-81190578A28B">
          <File Id="filE69FC044ED184B8E89AEAAD160948591" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.Netduino.dll" />
        </Component>
        <Component Id="cmp01723AA88059630CDC2629591DBD70CD" Guid="34BFC1CC-D84C-4E0C-81D6-B07FDF42D536">
          <File Id="fil2D56AD0AEDBD17444D8E75A7BFE72054" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.Netduino.pdb" />
        </Component>
        <Component Id="cmp199162042B976CC349DA1F8DFEEDB0BF" Guid="1C3C535C-90B6-49FE-A915-D25FDE04D8C2">
          <File Id="filA4D287506E3AD2DBFE6489D505B4B61A" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.Netduino.pdbx" />
        </Component>
        <Component Id="cmp7AB0227D5F02B17A8389F1BE3A10E8D7" Guid="4046B5B0-B189-4A39-BBF7-EECD680E4497">
          <File Id="fil3DA3DFFA4614E31B3026197F2320348C" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.Netduino.pe" />
        </Component>
        <Component Id="cmp36FBC553C7EAE85266128029C5A08BBB" Guid="EA4F5810-3BF5-4B05-9D03-6DB142695C41">
          <File Id="fil02700A6E916E0754A5E3E2F20A69D7B7" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.NetduinoMini.dll" />
        </Component>
        <Component Id="cmp82078EBEE1D765146428F170157E3ABC" Guid="FE5172F1-3CF3-407E-80A2-41BA211C33C4">
          <File Id="fil4BB8C6CF890E632FB96D11A7126BBA9A" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.NetduinoMini.pdb" />
        </Component>
        <Component Id="cmp5509FC5594C38E351B605B1EA433D631" Guid="600A3548-AB6B-4BD6-98E1-4DCAF11FA4B1">
          <File Id="filE7622FE8F4DB248DE21891A57CB2F92B" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.NetduinoMini.pdbx" />
        </Component>
        <Component Id="cmpF768D29CE73DEC5CFCDF916AD7DA1C54" Guid="0600C5D8-DD4C-4845-8098-C83E2AE45057">
          <File Id="fil8DC0AD18C69A71499DC15C420DF27312" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.NetduinoMini.pe" />
        </Component>
        <Component Id="cmp127B5B15FEC2F51C16F71B1FF88A06B6" Guid="ECB63F5E-2404-4AAA-914F-AE35290C9CDE">
          <File Id="fil53552D97CD7F941C88848B4A827494E5" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.NetduinoPlus.dll" />
        </Component>
        <Component Id="cmp1172472CE19B625EC419C92C30EED3EF" Guid="97712583-F47E-4969-811F-5819542A8A2D">
          <File Id="fil6F5D9C3558252F08BE429FC6FC68E916" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.NetduinoPlus.pdb" />
        </Component>
        <Component Id="cmp87B379B2D20F37001A5587123D7E3CAD" Guid="0DA4CA24-2CFA-4EB5-9BBE-2D30AD4159D9">
          <File Id="fil9542C16B9D58D7AFEC9431070E10FE13" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.NetduinoPlus.pdbx" />
        </Component>
        <Component Id="cmp9DF622E369289FF05AEB934D5FFEECFB" Guid="8155B219-7A9B-453A-A493-86D5B41D65F9">
          <File Id="filBAC963E16BF57CBAE304F693CC0ED27C" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.NetduinoPlus.pe" />
        </Component>
        <Component Id="cmpC5F4D593A6DCC6BC54130EBF56330CD4" Guid="56298DCA-751C-4024-B656-CEA971B7A0C5">
          <File Id="filF5D0F9D6E46F494FCC2796661946E753" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.pdb" />
        </Component>
        <Component Id="cmpAD682B1B1DC6C025815BE2AEB38B1C57" Guid="1B48EA4C-8487-4F0B-9FBC-7F923B42EF4F">
          <File Id="filDAB6124BFF1BEB3251D83EB95AFD246D" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.pdbx" />
        </Component>
        <Component Id="cmp031613F7CA5997E971A2CECA42E2260C" Guid="278D547A-D402-424D-AFEC-6F69BB69506E">
          <File Id="fil5AF9EE23DE0E659C46125262D174513B" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\be\SecretLabs.NETMF.Hardware.pe" />
        </Component>
      </DirectoryRef>
      <DirectoryRef Id="dir_Assemblies_v4.1_le">
        <Component Id="cmp77F155BD0B21C9FD05E77E492AFDF7CA" Guid="B5263ACC-199E-45AC-8632-5460D5A3D6C4">
          <File Id="fil279A2037DEF157B07F0EAAA1535B4D53" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.dll" />
        </Component>
        <Component Id="cmp823DFA2F95A21085C740B492845D5870" Guid="FA54F7AB-F427-4DF9-A23F-781D89F1C36F">
          <File Id="fil9CFC0D8EBF1E9463DB0AAD4268CF8CB5" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.Netduino.dll" />
        </Component>
        <Component Id="cmp67EE4C9B4CFBCDD173A0E0AB3F8A5F46" Guid="8DBBD7CF-902F-465D-8605-EE5076AED362">
          <File Id="filE55D93B8CF89E0C455FF0EFFD7CA1846" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.Netduino.pdb" />
        </Component>
        <Component Id="cmpAD5AAF832B5A0839455E40ADE46F6E6E" Guid="D0062735-69C4-42B0-9992-794EABDF32A1">
          <File Id="fil9B583568AC95992787B44DF001B06AFF" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.Netduino.pdbx" />
        </Component>
        <Component Id="cmp9F808132F5DCF5AFC1EA4E069CB0FAED" Guid="345E1F40-8456-44FD-9606-98F1B3716564">
          <File Id="fil000C51BA57E3612FF84A889BC6859D5F" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.Netduino.pe" />
        </Component>
        <Component Id="cmp54FC6B01A0B8B0483E471A77AE44F397" Guid="51164D58-1E28-413F-9D21-4C7F48A46A8F">
          <File Id="filFE1A52527542C7753D9A648672E49B42" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.NetduinoMini.dll" />
        </Component>
        <Component Id="cmp436E104358432BBC90124B5334C3091E" Guid="9E153F2E-12B3-437A-BEF9-840E94321387">
          <File Id="fil96C86D8653A4A024270A980B78CD8A73" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.NetduinoMini.pdb" />
        </Component>
        <Component Id="cmpE0B1FEFC9655D18B735E460CE9BF5839" Guid="19ED257E-9BAC-4F15-9214-07FC6AD429C5">
          <File Id="fil05D404BA6D56391DD7F86953B12307D4" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.NetduinoMini.pdbx" />
        </Component>
        <Component Id="cmp47830110565677EE236BDB5AA1F69FC2" Guid="C9195B6B-C828-48A1-8874-51917F6141AF">
          <File Id="filFBCAE464703875A81F804BDE777F5B9A" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.NetduinoMini.pe" />
        </Component>
        <Component Id="cmp56EA5143DAFBB6C363061A599CE5609A" Guid="66615147-209C-4780-AF4D-00BE443245AE">
          <File Id="fil542AB16F6F428DECAF9AFB2F4754F423" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.NetduinoPlus.dll" />
        </Component>
        <Component Id="cmp1BFD9B0C3592C9E7D5CCF3E6ADFD5B82" Guid="6B749C17-1778-4179-968D-62F21D8E7A7C">
          <File Id="filE0F2F947728F273C5049D0CE73B44C4B" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.NetduinoPlus.pdb" />
        </Component>
        <Component Id="cmp596661D8B82998BD40A74F71C079CE26" Guid="FA6C77A3-CF71-4E9C-8997-1FC418809B44">
          <File Id="fil621F4B2E0D9EFDF6EA9147250BEFFA3F" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.NetduinoPlus.pdbx" />
        </Component>
        <Component Id="cmpA138279E5AE1F0B556D501C4BE45542F" Guid="8E7E3013-E443-473C-8919-BD8B969F2A95">
          <File Id="fil1212A96A6C7844899995BE8B2C8C4868" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.NetduinoPlus.pe" />
        </Component>
        <Component Id="cmpCDD1D412F83939916134006786CA2639" Guid="62B64A2C-1174-4387-9DA8-15F75393EA59">
          <File Id="fil39480B120B922D92C6EAD31AF1CEE2FF" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.pdb" />
        </Component>
        <Component Id="cmp699D21B4284C295A7A0557C5AC72D426" Guid="18A215A4-7AD4-4200-81C2-85BE2BB5E15A">
          <File Id="fil4130E95CECB766F83D01178407862AB7" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.pdbx" />
        </Component>
        <Component Id="cmpFE20831D5BE1CC12B49F04A556D16B39" Guid="B7B36D5F-0F48-4671-B36F-1B10C86BAE98">
          <File Id="fil8AD9D2F6BF4B069B2F97C4FF040D9B74" KeyPath="yes" Source="$(var.SourceDir)Assemblies\v4.1\le\SecretLabs.NETMF.Hardware.pe" />
        </Component>
      </DirectoryRef>
    </Fragment>
    <Fragment>
      <ComponentGroup Id="Assemblies_V41">
        <ComponentRef Id="cmp_Assemblies_V41_RegisterAssembliesWithVisualStudio" />
        <ComponentRef Id="cmp9681CCA0536DDC2DEC257B8E934BEF30" />
        <ComponentRef Id="cmpCCCD6CEC04848BAD9508C1D8445C55B5" />
        <ComponentRef Id="cmp24DADDDB9CA8B1EADF48AA9551C971B1" />
        <ComponentRef Id="cmp795995E9D2B3F71ADCE20B87A8083C0F" />
        <ComponentRef Id="cmpF0C32353D95B0074F48458F6C02DF789" />
        <ComponentRef Id="cmpDE02A4591EE36F89FD206965302215FC" />
        <ComponentRef Id="cmp4252EA1A35B63758C94F4C3875738192" />
        <ComponentRef Id="cmpCB484CC4C2B95B6E0C04AB1FADC86949" />
        <ComponentRef Id="cmp676C815EC6B8AA53049EE9C7870A932F" />
        <ComponentRef Id="cmp5B57334BD3279AF6B3D86EB39DD59731" />
        <ComponentRef Id="cmp01723AA88059630CDC2629591DBD70CD" />
        <ComponentRef Id="cmp199162042B976CC349DA1F8DFEEDB0BF" />
        <ComponentRef Id="cmp7AB0227D5F02B17A8389F1BE3A10E8D7" />
        <ComponentRef Id="cmp36FBC553C7EAE85266128029C5A08BBB" />
        <ComponentRef Id="cmp82078EBEE1D765146428F170157E3ABC" />
        <ComponentRef Id="cmp5509FC5594C38E351B605B1EA433D631" />
        <ComponentRef Id="cmpF768D29CE73DEC5CFCDF916AD7DA1C54" />
        <ComponentRef Id="cmp127B5B15FEC2F51C16F71B1FF88A06B6" />
        <ComponentRef Id="cmp1172472CE19B625EC419C92C30EED3EF" />
        <ComponentRef Id="cmp87B379B2D20F37001A5587123D7E3CAD" />
        <ComponentRef Id="cmp9DF622E369289FF05AEB934D5FFEECFB" />
        <ComponentRef Id="cmpC5F4D593A6DCC6BC54130EBF56330CD4" />
        <ComponentRef Id="cmpAD682B1B1DC6C025815BE2AEB38B1C57" />
        <ComponentRef Id="cmp031613F7CA5997E971A2CECA42E2260C" />
        <ComponentRef Id="cmp77F155BD0B21C9FD05E77E492AFDF7CA" />
        <ComponentRef Id="cmp823DFA2F95A21085C740B492845D5870" />
        <ComponentRef Id="cmp67EE4C9B4CFBCDD173A0E0AB3F8A5F46" />
        <ComponentRef Id="cmpAD5AAF832B5A0839455E40ADE46F6E6E" />
        <ComponentRef Id="cmp9F808132F5DCF5AFC1EA4E069CB0FAED" />
        <ComponentRef Id="cmp54FC6B01A0B8B0483E471A77AE44F397" />
        <ComponentRef Id="cmp436E104358432BBC90124B5334C3091E" />
        <ComponentRef Id="cmpE0B1FEFC9655D18B735E460CE9BF5839" />
        <ComponentRef Id="cmp47830110565677EE236BDB5AA1F69FC2" />
        <ComponentRef Id="cmp56EA5143DAFBB6C363061A599CE5609A" />
        <ComponentRef Id="cmp1BFD9B0C3592C9E7D5CCF3E6ADFD5B82" />
        <ComponentRef Id="cmp596661D8B82998BD40A74F71C079CE26" />
        <ComponentRef Id="cmpA138279E5AE1F0B556D501C4BE45542F" />
        <ComponentRef Id="cmpCDD1D412F83939916134006786CA2639" />
        <ComponentRef Id="cmp699D21B4284C295A7A0557C5AC72D426" />
        <ComponentRef Id="cmpFE20831D5BE1CC12B49F04A556D16B39" />
      </ComponentGroup>
    </Fragment>
</Wix>