<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Netduino SDK Core" Language="1033" Version="5.0.0.1" Manufacturer="Wilderness Labs LLC" UpgradeCode="807D55F0-E37A-4A04-A0DD-1F52AACE903E">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Manufacturer="Wilderness Labs LLC" Description="Netduino SDK Core" Keywords="Installer,MSI" Comments="Copyright (c) 2018 Wilderness Labs LLC, All Rights Reserved." />

    <UIRef Id="WixUI_Minimal" />
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

    <WixVariable Id="WixUILicenseRtf" Value="$(var.SourceDir)License Agreement.rtf" />
    
    <Feature Id="Assemblies" Title="Netduino SDK Core" Level="1">
      <ComponentGroupRef Id="Assemblies_V43" />
    </Feature>

    <Feature Id="VS140" Title="Visual Studio 2015" Level="0">
      <Condition Level="1">VS_DEVENV OR VS_DEVENV_64 OR REMOVE</Condition>
      <ComponentGroupRef Id="VS_ProjectTemplates_CSharp" />
      <ComponentGroupRef Id="VS_ProjectTemplates_VisualBasic" />
    </Feature>

    <Property Id="VS_DEVENV">
      <RegistrySearch Id="VS_DEVENV_Path" Root="HKLM" Key="SOFTWARE\WOW6432Node\Microsoft\VisualStudio\14.0\InstallDir" Name="InstallDir" Type="directory" />
    </Property>
    <Property Id="VS_DEVENV_64">
      <RegistrySearch Win64="yes" Id="VS_DEVENV_Path_64" Root="HKLM" Key="SOFTWARE\Wow6432Node\Microsoft\VisualStudio\14.0" Name="InstallDir" Type="directory" />
    </Property>

    <Property Id="VS_PROJECT_TEMPLATE">
      <RegistrySearch Id="VS_ProjectTemplate" Root="HKLM" Key="SOFTWARE\WOW6432Node\Microsoft\VisualStudio\14.0\VSTemplate\Project" Name="UserFolder" Type="directory" />
    </Property>

    
   <!-- <Property Id="VS_PROJECT_TEMPLATE">
      <RegistrySearch Id="VS_ProjectTemplate" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\11.0\VSTemplate\Project" Name="UserFolder" Type="directory" />
    </Property> -->

    <CustomAction Id="PropertyAssign_VS_DEVENV"           Property="VS_DEVENV"           Value="[VS_DEVENV]DevEnv.exe"              />
    <CustomAction Id="PropertyAssign_VS_DEVENV_64"        Property="VS_DEVENV_64"        Value="[VS_DEVENV_64]DevEnv.exe"           />

    <CustomAction Id="Launch_VS_DEVENV_64"        Property="VS_DEVENV_64"        ExeCommand="/installvstemplates" Execute="deferred" Return="asyncNoWait" Impersonate="no" />
    <CustomAction Id="Launch_VS_DEVENV"           Property="VS_DEVENV"           ExeCommand="/installvstemplates" Execute="deferred" Return="asyncNoWait" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="PropertyAssign_VS_DEVENV"                   Before="InstallInitialize"                     >VS_DEVENV</Custom>
      <Custom Action="PropertyAssign_VS_DEVENV_64"                After="PropertyAssign_VS_DEVENV"               >VS_DEVENV_64</Custom>

      <Custom Action="Launch_VS_DEVENV"           Before="InstallFinalize"       >VS_DEVENV</Custom>
      <Custom Action="Launch_VS_DEVENV_64"        After="Launch_VS_DEVENV"       >VS_DEVENV_64</Custom>
    </InstallExecuteSequence>

  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        
        <Directory Id="MyCompanyFolder" Name="Wilderness Labs">
          <Directory Id="INSTALLFOLDER" Name="Netduino SDK">
            <Directory Id="dir_Assemblies" Name="Assemblies">
              <Directory Id="dir_Assemblies_v4.3" Name="v4.3">
                <Directory Id="dir_Assemblies_v4.3_be" Name="be" />
                <Directory Id="dir_Assemblies_v4.3_le" Name="le" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>

        <Directory Id="VS_PATH" Name="VS140">
          <Directory Id="VS_PROJECT_TEMPLATE" Name="ProjectTemplates">
            <Directory Id="VS_PROJECT_TEMPLATE_CSHARP" Name="CSharp">
              <Directory Id="VS_PROJECT_TEMPLATE_CSHARP_NETMF" Name="Micro Framework" />
            </Directory>
            <Directory Id="VS_PROJECT_TEMPLATE_VISUALBASIC" Name="VisualBasic">
              <Directory Id="VS_PROJECT_TEMPLATE_VISUALBASIC_NETMF" Name="Micro Framework" />
            </Directory>
          </Directory>
        </Directory>

      </Directory>
		</Directory>
	</Fragment>
</Wix>