<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="VS_PROJECT_TEMPLATE_VISUALBASIC_NETMF">
      <Component Id="cmp_VS_ProjectTemplates_VisualBasic_Netduino2Application.zip" Guid="4D94DD7A-B515-4497-BE7C-26199AF8F0C0">
        <File Id="fil_VS_ProjectTemplates_VisualBasic_Netduino2Application.zip" KeyPath="yes" Source="$(var.SourceDir)ProjectTemplates\Visual Basic\Micro Framework\Netduino2Application.zip" />
      </Component>
      <Component Id="cmp_VS_ProjectTemplates_VisualBasic_NetduinoApplication.zip" Guid="3A541B1B-987E-49D4-846D-6A5F8B0DA8E9">
        <File Id="fil_VS_ProjectTemplates_VisualBasic_NetduinoApplication.zip" KeyPath="yes" Source="$(var.SourceDir)ProjectTemplates\Visual Basic\Micro Framework\NetduinoApplication.zip" />
      </Component>
      <Component Id="cmp_VS_ProjectTemplates_VisualBasic_NetduinoGoApplication.zip" Guid="7534EB6B-8261-4662-919E-9DD140A961D9">
        <File Id="fil_VS_ProjectTemplates_VisualBasic_NetduinoGoApplication.zip" KeyPath="yes" Source="$(var.SourceDir)ProjectTemplates\Visual Basic\Micro Framework\NetduinoGoApplication.zip" />
      </Component>
      <Component Id="cmp_VS_ProjectTemplates_VisualBasic_NetduinoMiniApplication.zip" Guid="AA07A001-0A37-4545-BC33-6DD2E0F5A48B">
        <File Id="fil_VS_ProjectTemplates_VisualBasic_NetduinoMiniApplication.zip" KeyPath="yes" Source="$(var.SourceDir)ProjectTemplates\Visual Basic\Micro Framework\NetduinoMiniApplication.zip" />
      </Component>
      <Component Id="cmp_VS_ProjectTemplates_VisualBasic_NetduinoPlus2Application.zip" Guid="1BF0085F-DE86-4DF5-BA15-8C92BCCBB4E5">
        <File Id="fil_VS_ProjectTemplates_VisualBasic_NetduinoPlus2Application.zip" KeyPath="yes" Source="$(var.SourceDir)ProjectTemplates\Visual Basic\Micro Framework\NetduinoPlus2Application.zip" />
      </Component>
      <Component Id="cmp_VS_ProjectTemplates_VisualBasic_NetduinoPlusApplication.zip" Guid="D262AB09-967A-4007-8028-ED4FC7311EB5">
        <File Id="fil_VS_ProjectTemplates_VisualBasic_NetduinoPlusApplication.zip" KeyPath="yes" Source="$(var.SourceDir)ProjectTemplates\Visual Basic\Micro Framework\NetduinoPlusApplication.zip" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="VS_ProjectTemplates_VisualBasic">
        <ComponentRef Id="cmp_VS_ProjectTemplates_VisualBasic_Netduino2Application.zip" />
        <ComponentRef Id="cmp_VS_ProjectTemplates_VisualBasic_NetduinoApplication.zip" />
        <ComponentRef Id="cmp_VS_ProjectTemplates_VisualBasic_NetduinoGoApplication.zip" />
        <ComponentRef Id="cmp_VS_ProjectTemplates_VisualBasic_NetduinoMiniApplication.zip" />
        <ComponentRef Id="cmp_VS_ProjectTemplates_VisualBasic_NetduinoPlus2Application.zip" />
        <ComponentRef Id="cmp_VS_ProjectTemplates_VisualBasic_NetduinoPlusApplication.zip" />
    </ComponentGroup>
  </Fragment>
</Wix>