<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="VS_PROJECT_TEMPLATE_CSHARP_NETMF">
      <Component Id="cmp_VS_ProjectTemplates_CSharp_Netduino2Application.zip" Guid="0DAB153F-4F7D-46B7-AA56-9B64E8D30FCD">
        <File Id="fil_VS_ProjectTemplates_CSharp_Netduino2Application.zip" KeyPath="yes" Source="$(var.SourceDir)ProjectTemplates\Visual C#\Micro Framework\Netduino2Application.zip" />
      </Component>
      <Component Id="cmp_VS_ProjectTemplates_CSharp_NetduinoApplication.zip" Guid="E20D986C-0C5F-4CFB-907E-E5011FAC02FD">
        <File Id="fil_VS_ProjectTemplates_CSharp_NetduinoApplication.zip" KeyPath="yes" Source="$(var.SourceDir)ProjectTemplates\Visual C#\Micro Framework\NetduinoApplication.zip" />
      </Component>
      <Component Id="cmp_VS_ProjectTemplates_CSharp_NetduinoGoApplication.zip" Guid="7EE04A18-915B-46C4-AA56-C6F44931654D">
        <File Id="fil_VS_ProjectTemplates_CSharp_NetduinoGoApplication.zip" KeyPath="yes" Source="$(var.SourceDir)ProjectTemplates\Visual C#\Micro Framework\NetduinoGoApplication.zip" />
      </Component>
      <Component Id="cmp_VS_ProjectTemplates_CSharp_NetduinoMiniApplication.zip" Guid="B5117699-A304-4764-B19C-A0AA847E86EF">
        <File Id="fil_VS_ProjectTemplates_CSharp_NetduinoMiniApplication.zip" KeyPath="yes" Source="$(var.SourceDir)ProjectTemplates\Visual C#\Micro Framework\NetduinoMiniApplication.zip" />
      </Component>
      <Component Id="cmp_VS_ProjectTemplates_CSharp_NetduinoPlus2Application.zip" Guid="169CBA01-4316-48B4-B79B-04F5954D6E19">
        <File Id="fil_VS_ProjectTemplates_CSharp_NetduinoPlus2Application.zip" KeyPath="yes" Source="$(var.SourceDir)ProjectTemplates\Visual C#\Micro Framework\NetduinoPlus2Application.zip" />
      </Component>
      <Component Id="cmp_VS_ProjectTemplates_CSharp_NetduinoPlusApplication.zip" Guid="910B52F3-3EEA-432A-8198-AB256E881584">
        <File Id="fil_VS_ProjectTemplates_CSharp_NetduinoPlusApplication.zip" KeyPath="yes" Source="$(var.SourceDir)ProjectTemplates\Visual C#\Micro Framework\NetduinoPlusApplication.zip" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="VS_ProjectTemplates_CSharp">
      <ComponentRef Id="cmp_VS_ProjectTemplates_CSharp_Netduino2Application.zip" />
      <ComponentRef Id="cmp_VS_ProjectTemplates_CSharp_NetduinoApplication.zip" />
      <ComponentRef Id="cmp_VS_ProjectTemplates_CSharp_NetduinoGoApplication.zip" />
      <ComponentRef Id="cmp_VS_ProjectTemplates_CSharp_NetduinoMiniApplication.zip" />
      <ComponentRef Id="cmp_VS_ProjectTemplates_CSharp_NetduinoPlus2Application.zip" />
      <ComponentRef Id="cmp_VS_ProjectTemplates_CSharp_NetduinoPlusApplication.zip" />
    </ComponentGroup>
  </Fragment>
</Wix>