<?xml version='1.0'?>
<Include>
  <?include defines.wxs?>
  <RegistryValue
    Root="HKLM"
    Key="$(var.FxKey)\v4.1"
    Name="BuildNumber"
    Type ="string"
    Value ="2821"
    Id="Registry_V4_1_BuildVersionValue"
    />

  <RegistryValue
    Root="HKLM"
    Key="$(var.FxKey)\v4.1"
    Name="RevisionNumber"
    Type ="string"
    Value ="0"
    Id="Registry_V4_1_RevisionVersionValue"
    />

  <RegistryValue
    Root="HKLM"
    Key="$(var.FxKey)\v4.1"
    Name="InstallRoot"
    Type ="string"
    Value ="[VERSIONDIR_v4_1]"
    Id="Registry_V4_1_InstallRoot"
    />


    <RegistryKey
        Root="HKLM"
        Id="Registry_AssemblyFolder_v4_1"
        Key="$(var.FxKey)\v4.1\AssemblyFolder"
        Action="createAndRemoveOnUninstall"
        >
        <RegistryValue
            Type="string"
            Value="[AssembliesDir_V4_1]"
            Id="Registry_AsemblyFolderDefault_v4_1"
            />
    </RegistryKey>

    <RegistryKey
        Root="HKLM"
        Id="Registry_MicrosoftEmulatorKey_v4_1"
        Key="$(var.FxKey)\v4.1\Emulators\Microsoft"
        Action="createAndRemoveOnUninstall"
        >
        <RegistryValue
            Name="Name"
            Type="string"
            Value="Microsoft Emulator (v4.1)"
            Id="Registry_MicrosoftEmulatorNameValue_v4_1"
            />
        <RegistryValue
            Name="Path"
            Type="string"
            Value="[ToolsDir_v4_1]Microsoft.SPOT.Emulator.Sample.SampleEmulator.exe"
            Id="Registry_MicrosoftSampleEmulatorPathValue_v4_1"
            />
    </RegistryKey>

  <!-- Windows Desktop Express 2012 -->
  <?include vs_skus\WDExpress11.wxs?>
  <?include $(env.SPOCLIENT)\Framework\IDE\Targets\v4.1\WixTargetsRegIncludeInner.wxs?>
  <!-- VisualStudio 2012 -->
  <?include vs_skus\VisualStudio11.wxs?>
  <?include $(env.SPOCLIENT)\Framework\IDE\Targets\v4.1\WixTargetsRegIncludeInner.wxs?>

</Include>
